@import 'reset.scss';
@import 'variables.scss';

@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/Noto_Serif/NotoSerif-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: $c-black-1;
}

html,
body,
#__nuxt {
  height: 100vh;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;

    margin-bottom: 8px;
}


@media screen and (max-width: 768px) {
    h2 {
        font-size: 20px;
        line-height: 24px;
    }
}