// COLORS
$c-primary: #337566;

$c-black-1: #0F0F0F;
$c-black-2: #1B1D22;

$c-orange: #FFF7EB;

$c-red: #BD3223;

$c-gray-1: #F5F5F5;
$c-gray-2: #E8E8E8;
$c-gray-3: #DBDBDB;
$c-gray-4: #6B6B6B;
$c-gray-5: #CCCCCC;
$c-gray-6: #EDEDED;
$c-gray-7: #DBDBDB;